.heading{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: black;
}

h1{
  text-align: center;
}

.heading a{
  text-decoration: none;
  color: azure;
}

.heading ul{
  display: flex;
  justify-content: space-between;
  gap: 80px;
  list-style-type: none;
}